
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	text-transform: uppercase;
	display: flex;
	justify-content: center;
	height: 100vh;
	text-align: center;
	letter-spacing: 5px;
	line-height: 2;
	background-image:linear-gradient(to right, #23FE08, #CC0502);

}
h2 {
	margin-bottom: 5px;
}
input {
	border: 2px solid white;
	height: 30px;
}